<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ethelserth" translate="label" sortOrder="400">
            <label>Ethelserth</label>
        </tab>
        <section id="ethelserth_checkout" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout</label>
            <tab>ethelserth</tab>
            <resource>Ethelserth_Checkout::config</resource>
            <group id="address_lookup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Address Lookup</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Postcode Lookup</label>
                    <comment>Shows a quick address lookup widget for NL/BE/DE customers. Requires a Postcoder API key.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="postcoder_api_key" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postcoder API Key</label>
                    <comment>Get your key at postcoder.com. Required when lookup is enabled.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
